<div class="container-fluid h-100 d-flex align-items-center justify-content-center">
    <div class="col-4 p-5 rounded">

        <div class="d-flex flex-column w-100 mt-3 p-4 rounded" style="font-size: 13px; background-color: #d9dcd6;">
            <div class="d-flex" style="margin-top: -5px;">
                <p style="margin-bottom: 20px; font-size: 13px;">Budget must be updated monthly.</p>
            </div>
            <%= form_with(model: @user, url: budget_path, method: :patch) do |form| %>
                <div class="field">
                    <%= form.label :budget,
                        class: 'mb-0' 
                    %>
                    <%= form.number_field :budget, 
                        step: '0.01', min: '0', 
                        placeholder: 'Enter budget', 
                        class: 'form-control border-0 mb-3', 
                        style: 'font-size: 13px;', 
                        required: true 
                    %>
                </div>
                 <div class="actions d-flex flex-column">
                    <%= form.submit 'Update', 
                        class: 'btn btn-primary my-2', 
                        style: 'font-size: 13px;' 
                    %>
                </div>
            <% end %>
        </div>
    </div>
</div>

